<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@length%></h2>

<h2>Vowels: <%=@v_count%></h2>

<h2>Consonants: <%=@c_count%></h2>

<h2>Most Common Letter: <%=@letter%>, used <%=@letter_count%> times</h2>
