<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @text.number_of_words%></h2>

<h2>Vowels: <%= @text.count_of_vowels%> </h2>

<h2>Consonants: <%= @text.count_of_consenants%></h2>

<h2>Most Common Letter:&nbsp;<%= @text.most_used_letter.keys[0].upcase%>,&nbsp;used&nbsp;<%= @text.most_used_letter.values[0]%> times</h2>
